.Card {
    width: 80rem;
    height: 80rem;
    background: linear-gradient(167deg, #42d2a6 4.7%, #007991 95.98%), #389196;
    color: #fff;
    font-size: 4rem;
    text-align: center
}

.container {
    height: 90%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dateTitle{
    position: absolute;
}

.weatherIcon{
    width: 30rem;
}

.description {
    font-size: 6rem;
}

.cityName{
    font-size: 7rem;
    font-weight: bold;
    margin-top: 3rem;
}

.temperatureTitle{
    font-size: 13rem;
}
/* .date{
    position: absolute;
} */

/* .icon {
    width: 30rem;
} */

/* .city{
    font-size: 7rem;
    font-weight: bold;
    margin-top: 3rem;
} */

/* .temperature{
    font-size: 13rem;
} */

/* .description {
    font-size: 6rem;
} */

.details {
    display: flex;
    justify-content: space-between;
    font-size: 3.0rem;
    text-align: left;

    /* height: 25rem; */
    /* flex-direction: row; */
    /* justify-items:; */
    /* align-items: center; */
    /* line-height: 10rem; */

}

.amount{
    font-size: 4.3rem;
    /* font-weight: bold; */
}



